{% load wagtailadmin_tags i18n static %}

<div
  id="{{ name }}-mw-wrap"
  data-controller="pointfield"
  data-pointfield-map-options-value="{{ options }}"
  data-pointfield-field-value="{{ field_value }}"
  data-pointfield-lng-value="{{ lng }}"
  data-pointfield-lat-value="{{ lat }}"
  class="w-panel__wrapper"
>
  <p>Directly enter new coordinates, click the map, or drag the map marker.</p>

  <div class="w-field-row">
    <div class="w-field__wrapper">
      <label class='w-field__label text-black w-text-black' for="{{ name }}-mw-overlay-longitude">
        {% trans "Longitude:" %}
      </label>
      <div class="w-field">
        <div class="w-field__input">
          <div class="w-field__input">
            <input
              data-pointfield-target="lng"
              type="number"
              id="{{ name }}-mw-overlay-longitude"
              placeholder="{% trans 'Number between -180 and 180' %}"
              min="-180"
              max="180"
              data-action='change->pointfield#syncInputsToValues'
            />
          </div>
        </div>
      </div>
    </div>

    <div class="w-field__wrapper">
      <label class='w-field__label text-black w-text-black' for="{{ name }}-mw-overlay-latitude">
        {% trans "Latitude:" %}
      </label>
      <div class="w-field">
        <div class="w-field__input">
          <div class="w-field__input">
            <input
              data-pointfield-target="lat"
              type="number"
              id="{{ name }}-mw-overlay-latitude"
              placeholder="{% trans 'Number between -90 and 90' %}"
              min="-90"
              max="90"
              data-action='change->pointfield#syncInputsToValues'
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-field__wrapper">
    <div class="w-field">
      <a
        class="button button-secondary no"
        data-pointfield-target="remove"
        data-action="click->pointfield#reset">
        Clear
      </a>
    </div>
  </div>

  <div
    data-pointfield-target="map"
    id="{{ name }}-map-elem"
    style="height: 400px"
  ></div>

  <div style="display: none" class="hide">
    <textarea id="{{ id }}" name="{{ name }}" data-pointfield-target="djangoFormInput">{{ serialized }}</textarea>
    {% block extra_input %} {% endblock extra_input %}
  </div>

  <script
    src="{% static 'mapwidgets/js/mw_mapbox_point_field.js' %}"
    type="module"
  ></script>
</div>
